<mat-toolbar class="toolbar">
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon class="toolbar__text">menu</mat-icon>
  </button>
  <span>{{ 'navigation.appTitle' | transloco }}</span>
  <span class="example-spacer"></span>
  <div class="toolbar__item">
    <app-theme-switch></app-theme-switch>
  </div>
  <div class="toolbar__item">
    <app-lang-switch></app-lang-switch>
  </div>
  <div class="toolbar__item">
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon class="toolbar__text">settings</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>{{ 'navigation.darkTheme' | transloco }}</span>
    </button>
  </mat-menu>
</mat-toolbar>